In [1]:
import pandas as pd
import os 
from tqdm.notebook import tqdm

In [3]:
country_charts = []

for file in os.listdir(os.path.join('data','chart_data')):
    if file.endswith(".csv"):
        country_charts.append(file)
        
country_charts2 = []

for file in os.listdir(os.path.join('data','chart_data','data_202106_202111')):
    if file.endswith(".csv"):
        country_charts2.append(file)

country_charts3 = []

for file in os.listdir(os.path.join('data','chart_data','data_202111_202202')):
    if file.endswith(".csv"):
        country_charts3.append(file)

"\n\n\nfor (dirpath, dirnames, filenames) in os.walk(os.path.join('data','chart_data')):\n    if filenames\n    country_charts.extend(filenames)\n    break\ncountry_charts.append('data.csv')\n\ncountry_charts2 = []\n\nfor (dirpath, dirnames, filenames) in os.walk(os.path.join('data','chart_data','data_202106_202111')):\n    country_charts2.extend(filenames)\n    break\n    \n    \ncountry_charts3 = []\n\nfor (dirpath, dirnames, filenames) in os.walk(os.path.join('data','chart_data','data_202111_202202')):\n    country_charts3.extend(filenames)\n    break\n"

In [4]:
dfs = []
for chart in tqdm(country_charts):
    df_ = pd.read_csv(os.path.join('data','chart_data',chart), parse_dates=['Date'])
    dfs.append(df_)

for chart in tqdm(country_charts2):
    df_ = pd.read_csv(os.path.join('data','chart_data', 'data_202106_202111', chart), 
                      parse_dates=['Date'])
    dfs.append(df_)
    

for chart in tqdm(country_charts3):
    df_ = pd.read_csv(os.path.join('data','chart_data', 'data_202111_202202', chart), 
                      parse_dates=['Date'])
    dfs.append(df_)

ranking_df = pd.concat(dfs,axis=0)

  0%|          | 0/49 [00:00<?, ?it/s]

  0%|          | 0/54 [00:00<?, ?it/s]

  0%|          | 0/54 [00:00<?, ?it/s]

In [5]:
ranking_df.head()

,Position,Track Name,Artist,Streams,URL,Date,Region
0,1,Échame La Culpa,"Luis Fonsi, Demi Lovato",26459,1zsG4eaZmkA1dvjDDsAGLK,2018-01-01,ec
1,2,Corazón,"Maluma, Nego do Borel",25743,4lESS6vuruP6a79KWRaQou,2018-01-01,ec
2,3,Déjala Que Vuelva (feat. Manuel Turizo),Piso 21,24315,33bnxcjePIkcmNjEFTJX0l,2018-01-01,ec
3,4,Criminal,"Natti Natasha, Ozuna",22060,6Za3190Sbw39BBC77WSS1C,2018-01-01,ec
4,5,Mayores,"Becky G, Bad Bunny",18587,7JNh1cfm0eXjqFVOzKLyau,2018-01-01,ec

In [6]:
ranking_df.tail()

,Position,Track Name,Artist,Streams,URL,Date,Region
18195,196,u.,niteboi,4720,0J7oHYxjF6Oln61wy0kP2i,2022-02-22,at
18196,197,Shallow,"Lady Gaga, Bradley Cooper",4695,2VxeLyX666F8uXCJ0dZF8B,2022-02-22,at
18197,198,Someone To You,BANNERS,4682,2f0pn9DkEJwAzXApnFh5cr,2022-02-22,at
18198,199,you broke me first,Tate McRae,4681,45bE4HXI0AwGZXfZtMp8JR,2022-02-22,at
18199,200,Love Again,Dua Lipa,4645,4rPkN1FMzQyFNP9cLUGIIB,2022-02-22,at

In [7]:
ranking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17231641 entries, 0 to 18199
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Position    int64
 1   Track Name  object
 2   Artist      object
 3   Streams     int64
 4   URL         object
 5   Date        datetime64[ns]
 6   Region      object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 1.0+ GB

In [8]:
ranking_df.shape

(17231641, 7)

In [9]:
ranking_df['URL'].nunique()

112071

### Enrich dataset

In [10]:
country_dict = {'ar':'Argentina', 'at':'Austria', 'au':'Australia', 'be':'Belgium',
       'bo':'Bolivia', 'br':'Brazil', 'ca':'Canada', 'ch':'Switzerland', 
       'cl':'Chile', 'co':'Columbia', 'cr':'CostaRica', 'cz':'CzechRepublic',
       'de':'Germany', 'dk':'Denmark', 'do':'DominicanRepublic', 'ec':'Ecuador', 
       'ee':'Estonia', 'es':'Spain', 'fi':'Finland', 'fr':'France', 
       'gb':'UnitedKingdom', 'global':'World', 'gr':'Greece', 'gt':'Guatemala',
       'hk':'HongKong', 'hn':'Honduras', 'hu':'Hungary', 'id':'Indonesia', 
       'ie':'Ireland', 'is':'Iceland', 'it':'Italy', 'jp':'Japan', 
       'lt':'Lithuania', 'lu':'Luxemborg', 'lv':'Latvia', 'mx':'Mexico', 
       'my':'Malaysia', 'nl':'Netherlands', 'no':'Norway', 'nz':'NewZealand', 
       'pa':'Panama', 'pe':'Peru', 'ph':'Philippines', 'pl':'Poland', 
       'pt':'Portugal', 'py':'Paraguay', 'se':'Sweden', 'sg':'Singapore', 
       'sk':'Slovakia', 'sv':'ElSalvador', 'tr':'Turkey', 'tw':'Taiwan', 'us':'USA', 'uy':'Uruguay',}

In [11]:
def get_song_id(url):
    
    if type(url)== float:
        return "no id"
    else:
        return url.split('/')[-1]

In [12]:
ranking_df['song_id']= ranking_df['URL'].apply(get_song_id)
ranking_df['Region']= ranking_df['Region'].apply(lambda x: country_dict[x])
ranking_df['release_date']=ranking_df.groupby('song_id')['Date'].transform('min')

In [13]:
ranking_df.head()

,Position,Track Name,Artist,Streams,URL,Date,Region,song_id,release_date
0,1,Échame La Culpa,"Luis Fonsi, Demi Lovato",26459,1zsG4eaZmkA1dvjDDsAGLK,2018-01-01,Ecuador,1zsG4eaZmkA1dvjDDsAGLK,2017-11-17
1,2,Corazón,"Maluma, Nego do Borel",25743,4lESS6vuruP6a79KWRaQou,2018-01-01,Ecuador,4lESS6vuruP6a79KWRaQou,2017-11-03
2,3,Déjala Que Vuelva (feat. Manuel Turizo),Piso 21,24315,33bnxcjePIkcmNjEFTJX0l,2018-01-01,Ecuador,33bnxcjePIkcmNjEFTJX0l,2017-10-20
3,4,Criminal,"Natti Natasha, Ozuna",22060,6Za3190Sbw39BBC77WSS1C,2018-01-01,Ecuador,6Za3190Sbw39BBC77WSS1C,2017-11-10
4,5,Mayores,"Becky G, Bad Bunny",18587,7JNh1cfm0eXjqFVOzKLyau,2018-01-01,Ecuador,7JNh1cfm0eXjqFVOzKLyau,2017-07-14

In [14]:
ranking_df['Date'].min(), ranking_df['Date'].max()

(Timestamp('2017-01-01 00:00:00'), Timestamp('2022-02-22 00:00:00'))

In [15]:
ranking_df = ranking_df[(ranking_df['song_id']!= 'no id') & (ranking_df['Region']!= 'global') ]

In [16]:
ranking_df.to_csv(os.path.join('data','ranking_all_2017_2022.csv'))

In [17]:
print("That's all folks!!")

That's all folks!!